In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df_total = pd.read_csv('data/df_total.csv', index_col=[0])
df_razmetka = pd.read_csv('data/df_razmetka.csv', index_col=[0])

In [3]:
df_fin = df_total.copy()
df_fin['extr2'] = df_razmetka['extr2']

In [4]:
df_fin.groupby('symbol_cq').agg({'timestamp':['min', 'max']}).apply(lambda x: pd.to_datetime(x, unit='s'))

                         timestamp
                               min                 max
symbol_cq
BTCUSDT_220930 2022-08-23 09:58:00 2022-09-30 08:00:00
BTCUSDT_221230 2022-09-30 08:01:00 2022-12-30 08:00:00
BTCUSDT_230331 2022-12-30 08:01:00 2023-03-31 08:00:00
BTCUSDT_230630 2023-03-31 08:01:00 2023-05-15 08:16:00

In [5]:
df_fin.drop(columns=['symbol_perp', 'symbol_cq', 'time_diff', 'diff', 'diff_shift1', 'is_extremum'], inplace=True)

Lets imagine our range of opening contract lays between 

(high + max(open, close))/2

and

(low + min(open, close))/2

In [6]:
# df_fin['low_border'] = (df_fin['low_perp'] + df_fin[['open_perp', 'close_perp']].min(axis=1)) / 2
# df_fin['up_border'] = (df_fin['high_perp'] + df_fin[['open_perp', 'close_perp']].max(axis=1)) / 2

In [7]:
# df_fin.loc[df_fin['extr2'] & df_fin['ismaxima'], 'target'] = df_fin.loc[df_fin['extr2'] & df_fin['ismaxima'], 'up_border']
# df_fin.loc[df_fin['extr2'] & df_fin['isminima'], 'target'] = df_fin.loc[df_fin['extr2'] & df_fin['isminima'], 'low_border']

# df_fin['target'] = df_fin['target'].shift(-1).fillna(method='bfill')
# df_fin.dropna(inplace=True)

In [8]:
df_fin.head()

,timestamp,open_perp,close_perp,low_perp,high_perp,volume_perp,trades_perp,open_cq,close_cq,low_cq,high_cq,volume_cq,trades_cq,bidPrice_perp,bidQty_perp,askPrice_perp,askQty_perp,funding_rate,bidPrice_cq,bidQty_cq,askPrice_cq,askQty_cq,time_left,ismaxima,isminima,extr2
0,1661248680,21476.3,21459.6,21451.0,21479.8,413.330,3596,21511.1,21483.9,21483.9,21511.1,1.659,22,21476.2,8.013,21476.3,6.975,0.000011,21502.4,0.019,21508.0,0.071,3276120,False,False,False
1,1661248740,21459.7,21430.2,21430.2,21459.7,378.801,3206,21493.2,21453.5,21453.5,21493.2,0.579,40,21459.1,3.420,21459.2,14.399,0.000012,21487.4,0.019,21493.3,0.050,3276060,False,False,False
2,1661248800,21430.3,21445.0,21414.1,21445.0,619.156,5519,21459.9,21478.3,21440.6,21478.4,1.392,46,21432.6,0.820,21434.3,0.004,0.000012,21456.4,0.169,21462.8,0.071,3276000,False,True,False
3,1661248860,21445.0,21445.0,21430.0,21446.8,311.295,3116,21476.7,21470.2,21460.0,21476.7,1.419,41,21444.9,25.023,21445.0,1.005,0.000011,21476.7,0.100,21478.3,0.054,3275940,True,False,True
4,1661248920,21445.0,21431.2,21430.0,21448.6,250.049,2848,21479.4,21463.8,21460.4,21479.5,0.400,24,21444.9,17.361,21445.0,1.806,0.000010,21471.6,0.019,21476.5,0.121,3275880,False,False,False

In [28]:
df_fin.loc[df_fin['extr2'], 'id_contract'] = range(16040)
df_fin.fillna(method='backfill', inplace=True)
df_fin.dropna(inplace=True)

In [29]:
df_fin.head()

,timestamp,open_perp,close_perp,low_perp,high_perp,volume_perp,trades_perp,open_cq,close_cq,low_cq,high_cq,volume_cq,trades_cq,bidPrice_perp,bidQty_perp,askPrice_perp,askQty_perp,funding_rate,bidPrice_cq,bidQty_cq,askPrice_cq,askQty_cq,time_left,ismaxima,isminima,extr2,id_contract
0,1661248680,21476.3,21459.6,21451.0,21479.8,413.330,3596,21511.1,21483.9,21483.9,21511.1,1.659,22,21476.2,8.013,21476.3,6.975,0.000011,21502.4,0.019,21508.0,0.071,3276120,False,False,False,0.0
1,1661248740,21459.7,21430.2,21430.2,21459.7,378.801,3206,21493.2,21453.5,21453.5,21493.2,0.579,40,21459.1,3.420,21459.2,14.399,0.000012,21487.4,0.019,21493.3,0.050,3276060,False,False,False,0.0
2,1661248800,21430.3,21445.0,21414.1,21445.0,619.156,5519,21459.9,21478.3,21440.6,21478.4,1.392,46,21432.6,0.820,21434.3,0.004,0.000012,21456.4,0.169,21462.8,0.071,3276000,False,True,False,0.0
3,1661248860,21445.0,21445.0,21430.0,21446.8,311.295,3116,21476.7,21470.2,21460.0,21476.7,1.419,41,21444.9,25.023,21445.0,1.005,0.000011,21476.7,0.100,21478.3,0.054,3275940,True,False,True,0.0
4,1661248920,21445.0,21431.2,21430.0,21448.6,250.049,2848,21479.4,21463.8,21460.4,21479.5,0.400,24,21444.9,17.361,21445.0,1.806,0.000010,21471.6,0.019,21476.5,0.121,3275880,False,False,False,1.0

In [30]:
from tsfresh import extract_features

In [34]:
df_fin.columns

Index(['timestamp', 'open_perp', 'close_perp', 'low_perp', 'high_perp',
       'volume_perp', 'trades_perp', 'open_cq', 'close_cq', 'low_cq',
       'high_cq', 'volume_cq', 'trades_cq', 'bidPrice_perp', 'bidQty_perp',
       'askPrice_perp', 'askQty_perp', 'funding_rate', 'bidPrice_cq',
       'bidQty_cq', 'askPrice_cq', 'askQty_cq', 'time_left', 'ismaxima',
       'isminima', 'extr2', 'id_contract'],
      dtype='object')

In [37]:
extracted_features = extract_features(df_fin, 
                                      column_id='id_contract', 
                                      column_sort="timestamp", 
                                      column_kind = ['ismaxima', 'isminima', 'extr2'])

ValueError: Could not guess the value column, as the number of unused columns os not equal to 1.These columns where currently unused: open_perp,close_perp,low_perp,high_perp,volume_perp,trades_perp,open_cq,close_cq,low_cq,high_cq,volume_cq,trades_cq,bidPrice_perp,bidQty_perp,askPrice_perp,askQty_perp,funding_rate,bidPrice_cq,bidQty_cq,askPrice_cq,askQty_cq,time_left,ismaxima,isminima,extr2Please hand it to the function as an argument.